# Ignore all .DS_Store files
.DS_Store

# Ignore any directories here, see example
# output/
docs/
my_knowlege_base/

# Optionally, if you have any other system-specific files or directories that should be ignored
# macOS resource forks
._*

# Spotlight metadata
.Spotlight-V100
.Trashes

# OS X thumbnail cache directories
Thumbs.db
Thumbs.db:*
ehthumbs.db
ehthumbs_vista.db
my_knowledge_base/chroma.sqlite3
my_knowledge_base/a8915b13-dcc9-43c0-aa83-f1811da2c3e2/data_level0.bin
my_knowledge_base/a8915b13-dcc9-43c0-aa83-f1811da2c3e2/header.bin
my_knowledge_base/a8915b13-dcc9-43c0-aa83-f1811da2c3e2/link_lists.bin
my_knowledge_base/a8915b13-dcc9-43c0-aa83-f1811da2c3e2/length.bin
